$colorPrimary: #4e3030;
$colorSecondary: white;
$colorTercialy: black;
$colorQuinary: #6BBC00;
$colorQuaternary: #FF7171;

$shadeQuinary: #7fe000;
$shadeQuaternary: #ff1d1d;

$bg: #f3f3f3;
$blue: #4dafff;

$fontPrimary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;