<footer class="footer">
    <div class="container-intern">
        <div class="flexer">
            <div class="footer__content">
                <h2 class="footer__heading">Chess Club</h2>
                <span class="footer__text">Created by Filip Machala</span>
            </div>
        </div>
    </div>
</footer>
